// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//
//@import url('https://fonts.googleapis.com/css?family=Srisakdi:400,700&display=swap&subset=vietnamese');
//@import url('https://fonts.googleapis.com/css?family=Charm:400,700&display=swap&subset=vietnamese');
//@import url('https://fonts.googleapis.com/css?family=Charmonman:400,700&display=swap&subset=vietnamese');
//$primary: #ff0;
$headfont: 'Philosopher', sans-serif;
$mainfont: 'Montserrat', sans-serif;;
$color1: #D3AC88;
$color2: #0e3d31;
//$color2: #1E3936;

