/*
 Theme Name:   Anderson Park
 Theme URI:    http://andersonpark.vn
 Description:  Anderson Park
 Author:       LYN
 Author URI:   http://www.lyn.com.vn
 Template:     understrap
 Version:      0.5.3
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  understrap-child
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: holger1411/understrap-child
*/
/* Custom slide arrows
 * --------------------------------------- */

.my-arrow svg {
  padding: 5px;
}

.my-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 70px;
  height: 90px;
  z-index: 99;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}
.my-arrow.left{
  left: 35px;
}
.my-arrow.right{
  right: 35px;
}
polyline{
    stroke-width: 3;
}
.my-arrow.left:hover polyline,
.my-arrow.left:focus polyline {
  stroke-width: 6;
}
.my-arrow.left:active polyline {
  stroke-width: 10;
  transition: all 100ms ease-in-out;
}
.my-arrow.right:hover polyline,
.my-arrow.right:focus polyline {
  stroke-width: 6;
}
.my-arrow.right:active polyline {
  stroke-width: 10;
  transition: all 100ms ease-in-out;
}
polyline {
  transition: all 250ms ease-in-out;
}
 .single #nofullpage #main .entry-content p:has(> img) {
                text-align: center;
            }