@media (max-width: 767px) {
  #fullpage {
    margin-top: 70px; }
    #fullpage .fp-section {
      height: auto !important;
      background-color: #0e3d31; }
      #fullpage .fp-section .row {
        background-color: #0e3d31; }

  .navbar .logo {
    opacity: 1;
    z-index: 99; }
    .navbar .logo:after {
      position: absolute;
      content: '';
      background: linear-gradient(90deg, #1e3936 0, #40736d 10%, #192f2d 100%);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
      width: 100vw;
      height: 70px;
      top: 0;
      right: 0;
      background-position: center center;
      background-size: cover;
      z-index: -1; }
    .navbar .logo .img-fluid {
      width: 160px;
      margin-top: 5px; }

  .jumbo-by-bonfire-wrapper {
    width: 100%;
    z-index: 10; }
    .jumbo-by-bonfire-wrapper .jumbo-main-menu-wrapper {
      left: auto;
      right: -60px; }
    .jumbo-by-bonfire-wrapper .jumbo-menu-button {
      padding: 20px 15px; }
    .jumbo-by-bonfire-wrapper .jumbo-by-bonfire .menu {
      margin: 30px 0;
      background: #d4ae8b;
      width: 100%; }
      .jumbo-by-bonfire-wrapper .jumbo-by-bonfire .menu:after {
        position: fixed;
        content: '';
        width: calc(100vw + 120px);
        height: calc(100vh - 110px);
        top: 0;
        right: -120px;
        z-index: -1;
        background: #d4ae8b; }
      .jumbo-by-bonfire-wrapper .jumbo-by-bonfire .menu li > a {
        font-size: 21px;
        color: #0e3d31; }
        .jumbo-by-bonfire-wrapper .jumbo-by-bonfire .menu li > a:before {
          background: #0e3d31; }
      .jumbo-by-bonfire-wrapper .jumbo-by-bonfire .menu.jumbo-menu-active .jumbo-by-bonfire .menu:after {
        right: 0; }

  #drawsvg_content,
  .divblue {
    max-width: 100vw; }

  .fp-section.fp-table,
  .fp-slide.fp-table,
  .fp-table .fp-tableCell {
    height: auto !important; }

  .logo a.corner {
    position: relative;
    margin: 0 !important;
    padding: 0 15px; }
  .logo .img-fluid {
    height: 60px;
    width: auto; }

  #hotline {
    width: 40px;
    height: 40px;
    right: 90px;
    background: url(../images/SVG/hotline.svg) left center/cover no-repeat;
    position: fixed;
    left: 20px;
    top: auto;
    z-index: 99;
    bottom: 5px; }

  .dknt {
    width: 50px;
    z-index: 9999;
    position: relative;
    left: calc(100vw - 110px);
    height: 35px;
    top: -3px; }
    .dknt:before {
      left: 0;
      height: 30px;
      width: 50px; }
    .dknt span {
      display: none; }

  .home-section.secmot .image-text {
    min-height: 0;
    min-width: auto; }

  .ml-2 {
    margin-left: 0 !important; }

  .intro .carousel-inner {
    height: auto; }
    .intro .carousel-inner .carousel-item video {
      top: 0;
      left: -40vw;
      transform: none;
      width: 180vw;
      margin: 0 auto; }

  .gioithieu {
    background-position: top center;
    background-size: contain; }
    .gioithieu .fp-tableCell {
      vertical-align: middle;
      padding-top: calc(100vw * 9 /16 + 10px); }
      .gioithieu .fp-tableCell .jumbotron {
        box-shadow: none;
        margin-bottom: 50px; }

  .vitri:before {
    right: 0;
    height: 100%; }
  .vitri .mapnew {
    margin-top: 0;
    float: left;
    display: flex;
    margin-left: 0;
    margin-bottom: 20px; }
  .vitri .d-md-flex.align-items-center {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin: 0; }
  .vitri .d-md-flex.col-md-4 {
    margin: 0;
    height: auto;
    padding: 0 15px !important; }
  .vitri #mapimg,
  .vitri .mapnew {
    position: relative;
    height: auto;
    width: 100vw; }
    .vitri #mapimg .map-svg,
    .vitri .mapnew .map-svg {
      right: 1px;
      top: -10px;
      height: 100%;
      width: 100%; }
    .vitri #mapimg .pointer-map,
    .vitri .mapnew .pointer-map {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 24%;
      right: 157px; }
      .vitri #mapimg .pointer-map .pointer-stroke, .vitri #mapimg .pointer-map span,
      .vitri .mapnew .pointer-map .pointer-stroke,
      .vitri .mapnew .pointer-map span {
        display: none; }

  .tienich:before {
    display: none; }
  .tienich:after {
    height: 100px; }
  .tienich .headtienich {
    top: 10px;
    position: relative; }
  .tienich .ms-thumb-list.ms-dir-h {
    bottom: 0px !important;
    z-index: 3; }
  .tienich .bongbot {
    bottom: 60px;
    height: 59px; }
    .tienich .bongbot:before {
      height: 59px; }

  .home-section.canho .bg-line-bot {
    background: url(../images/bg-line-bot-mobi.png) top center/cover no-repeat;
    height: 300px;
    max-height: none; }
  .home-section.canho .box-canho {
    position: relative;
    padding: 20px 15px; }

  .home-section.news:before {
    display: none; }
  .home-section.news .fp-tableCell {
    background-color: #0e3d31; }
  .home-section.news .container {
    padding: 40px 0; }
    .home-section.news .container > .row {
      flex-direction: column;
      margin: 0; }
      .home-section.news .container > .row .col.d-flex > .d-flex {
        margin-top: 10px; }
        .home-section.news .container > .row .col.d-flex > .d-flex .text h2 {
          font-size: 15px;
          line-height: 1.5em; }
        .home-section.news .container > .row .col.d-flex > .d-flex .news-thumb {
          min-width: 160px; }
        .home-section.news .container > .row .col.d-flex > .d-flex:last-child {
          margin-bottom: 10px; }

  .home-section.partners {
    background-image: none; }
    .home-section.partners .container {
      padding: 40px 0; }
      .home-section.partners .container .row {
        flex-wrap: wrap;
        margin: 0; }
        .home-section.partners .container .row#row1 {
          max-width: 100%; }
          .home-section.partners .container .row#row1 .p-5 {
            padding: 1rem !important; }
        .home-section.partners .container .row .col {
          padding-bottom: 20px !important;
          flex-basis: 50%;
          padding-top: 0 !important; }
          .home-section.partners .container .row .col:first-child .cdt {
            width: 70px; }
            .home-section.partners .container .row .col:first-child .cdt h3.text-normal {
              font-size: 16px;
              font-weight: 900;
              color: #e1dba4; }
          .home-section.partners .container .row .col .partner {
            max-height: 50px; }
          .home-section.partners .container .row .col h5 {
            color: #fff3b5 !important; }

  .home-section.lienhe {
    background-position: bottom center; }
    .home-section.lienhe:before, .home-section.lienhe:after {
      height: 100%; }
    .home-section.lienhe .container .row {
      flex-direction: column;
      margin: 0; }
      .home-section.lienhe .container .row h3 {
        font-size: 18px;
        font-weight: 500;
        text-shadow: 1px 1px 5px #023358; }

  .page-template-vitri .vitri .mapnew {
    margin-left: 0; }

  .overlay .overlay-close {
    width: 30px;
    height: 30px;
    top: 20px;
    right: 25px; }

  .single #nofullpage #main {
    width: 100%;
    padding: 1em; }
    .single #nofullpage #main .entry-title {
      font-weight: 800;
      font-size: 1.5rem; }
    .single #nofullpage #main .tinlienquan .row {
      flex-direction: column; }

  .bot-dot.bot_dot_mobile {
    display: block !important;
    position: initial;
    text-align: center; }
    .bot-dot.bot_dot_mobile .box_dot {
      background: rgba(106, 226, 255, 0.2);
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      width: calc(50% - 15px);
      padding: 5px;
      margin: 15px 5px;
      border: 1px solid rgba(106, 226, 255, 0.5);
      font-size: 14px; }
      .bot-dot.bot_dot_mobile .box_dot a.clickable {
        height: calc(100% + 10px);
        width: 100%;
        left: 0;
        top: -10px;
        position: absolute;
        z-index: 1; }
      .bot-dot.bot_dot_mobile .box_dot div.zoom-box {
        position: absolute;
        top: -10px !important;
        left: 50% !important;
        transform: translateX(-50%);
        color: #fff;
        text-decoration: none;
        width: 20px;
        height: 20px;
        z-index: 10;
        line-height: 20px;
        font-size: 14px;
        font-weight: 700; }
        .bot-dot.bot_dot_mobile .box_dot div.zoom-box span.circle {
          border: 1px solid rgba(255, 255, 255, 0.2);
          width: 30px;
          height: 30px;
          position: absolute;
          left: -4px;
          top: -4px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
          background: #007996;
          z-index: -1; }
      .bot-dot.bot_dot_mobile .box_dot .ct_bot_moblie {
        text-align: center;
        padding: 20px 5px 10px; }
        .bot-dot.bot_dot_mobile .box_dot .ct_bot_moblie p {
          margin: 0;
          text-align: center; }

  .page-template-gioithieu .fp-section.fp-table,
  .page-template-gioithieu .fp-slide.fp-table,
  .page-template-gioithieu .fp-table .fp-tableCell {
    height: 100% !important; }

  .page-template-tienich #fullpage {
    height: auto !important; }

  .single-can-ho #maincanho {
    background: #08567b; }
    .single-can-ho #maincanho .site-main {
      max-height: none;
      padding: 25px;
      margin-top: 0;
      padding-top: 70px;
      max-height: none;
      height: 100%; }
      .single-can-ho #maincanho .site-main .botri .bvcanho {
        background-size: 100% 100% !important; }

  .imgtext {
    padding: 0 2rem; }

  .fixed-bottom,
  .home-section.news .container > .row .col-md-4 .news-click,
  .gioithieu .bong:after {
    max-width: 100vw !important; }

  .home-section.news .container > .row .col-md-4:before,
  .bongtop {
    display: none; } }

/*# sourceMappingURL=mobile.css.map */
