@mixin btn {
    border: none;
    color: #fff;
    width: auto;
    text-align: center;
    background-size: cover;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px 15px;
    font-family: $mainfont;
    min-height: 50px;
    min-width: 130px;
    line-height: 1.5em;
    font-weight: 800;
}

@mixin btn-nude {
    @include btn;
    color: $color2;
}

@mixin btn-blue {
    @include btn;
    color: $color1;
}

@mixin slickbut {
    font-size: 70px;
    line-height: 1;
    opacity: .75;
    color: #fff;
}

@mixin textgold {
    background: rgb(129, 107, 9);
    background: linear-gradient(100deg, rgb(193, 163, 29) 0%, rgb(208, 170, 38) 5%, rgb(255, 225, 112) 26%, rgb(243, 213, 107) 43%, rgb(134, 115, 41) 60%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control,
.wpcf7 input[type=text],
.wpcf7 input[type=text]:focus,
.wpcf7 input[type=search],
.wpcf7 input[type=url],
.wpcf7 input[type=tel],
.wpcf7 input[type=tel]:focus,
.wpcf7 input[type=number],
.wpcf7 input[type=range],
.wpcf7 input[type=date],
.wpcf7 input[type=month],
.wpcf7 input[type=week],
.wpcf7 input[type=time],
.wpcf7 input[type=datetime],
.wpcf7 input[type=datetime-local],
.wpcf7 input[type=email],
.wpcf7 input[type=email]:focus,
.wpcf7 input[type=file],
.wpcf7 textarea:focus,
.wpcf7 select,
.wpcf7 textarea,
.wpcf7 .wpcf7-validation-errors {
    color: #fff;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0;
    margin: 12px 0;
    padding-left: 0;
}

#fullpage {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color2;

}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-family: $headfont;
}

body,
p {
    font-family: $mainfont;
}

.text-1 {
    font-size: 22px;
    line-height: 1.2em;
}

.text-2 {
    font-size: 20px;
    line-height: 1.2em;
}

.text-3 {
    font-size: 16px;
    line-height: 1.2em;
}

.text-normal {
    font-size: 13px;
    line-height: 1.7em;
}

.display-4 {
    font-size: 2.3rem;
}

.content {
    font-family: $mainfont;
    color: $color1;

}

.text-lux {
    color: $color1;
}

.text-blue {
    color: $color2;
}

.text-white {
    color: #fff;
}

.text-gold {
    @include textgold;
}


.btn {

    &:focus,
    &:hover {
        outline: none !important;
    }

    &.btn-blue {
        @include btn-blue;

        &:hover {
            @include btn-nude;
        }
    }

    &.btn-nude {
        @include btn-nude;

        &:hover {
            @include btn-blue;
        }
    }

    &.btn-simple {
        @include btn;
        background-color: transparent;
        color: #fff;
        font-size: 12px;
        min-height: 20px;
        text-transform: uppercase;
        position: relative;

        &:hover {
            color: $color1;
        }

        &:before {
            position: absolute;
            left: 10px;
            width: 20px;
            height: 1px;
            top: 8px;
            background-color: #fff;
            content: '';

            &:hover {
                color: $color1;
            }
        }

        &:after {
            position: absolute;
            right: 10px;
            width: 20px;
            height: 1px;
            top: 8px;
            background-color: #fff;
            content: '';

            &:hover {
                color: $color1;
            }
        }

    }

}

.blueover {
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: radial-gradient(circle farthest-corner at center center, rgba(0, 70, 90, 0)0%, rgba(10, 78, 115, 0.17) 50%, #0a4e73 70%);
        mix-blend-mode: normal;
        opacity: 1;
        z-index: 99;
    }
}

.wave-right {
    content: '';
    position: absolute;
    width: 109px;
    height: 100vh;
    top: 0;
    right: 0;
    background: url(../images/wave-right.png) no-repeat;
    background-size: cover;
}

.wave-bottom {
    content: '';
    position: absolute;
    width: 100vw;
    height: 170px;
    bottom: 0;
    left: 0;
    background: url(../images/wave-bottom.png) no-repeat;
    background-size: cover;

    &.dark {
        background: url(../images/wave-bottom-dark.png) no-repeat;
        background-size: cover;
    }
}

.line-wave {
    position: relative;
    display: inline-block;

}

.line-wave:after {
    content: '';
    position: relative;
    animation-delay: 2s;
    height: 1px;
    background: $color1;
    width: 50%;
    display: none;
}

.text-center.line-wave:after {
    margin: 0 auto;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    border: none;
}



.form-control::-webkit-input-placeholder {
    color: $color1;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: $color1;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: $color1;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: $color1;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: $color1;
}

/* Microsoft Edge */

.wpcf7 textarea:focus,
.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="password"]:focus,
.wpcf7 input[type="datetime"]:focus,
.wpcf7 input[type="datetime-local"]:focus,
.wpcf7 input[type="date"]:focus,
.wpcf7 input[type="month"]:focus,
.wpcf7 input[type="time"]:focus,
.wpcf7 input[type="week"]:focus,
.wpcf7 input[type="number"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 input[type="url"]:focus,
.wpcf7 input[type="search"]:focus,
.wpcf7 input[type="tel"]:focus,
.wpcf7 input[type="color"]:focus,
.wpcf7 .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

.navbar-dark .navbar-brand {
    margin: 0 auto;
}


.bongtop {
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 99;
    position: absolute;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 0;
        background-image: linear-gradient(to top, transparent, rgba(8, 33, 23, 0.1) 10%, rgba(8, 33, 23, 0.8) 70%, rgba(8, 33, 23, 0.9) 100%);
    }
}

.bongbot {
    bottom: 0;
    width: 100vw;
    height: 40vh;
    max-height: 300px;
    z-index: -1;
    position: absolute;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 300px;
        z-index: 0;
        //  background-image: linear-gradient(to top, transparent, rgba(0, 90, 112, 0.5) 40%, #082117);
        background-image: linear-gradient(to bottom, transparent 10%, rgba(8, 33, 23, 0.6) 30%, #082217);
    }
}

.logo {
    margin: 0 auto;
    position: fixed;
    top: 10px;
    display: inline-flex;
    align-items: center;
    opacity: 1;

    a.navbar-brand {
        margin: 0 auto;
    }

    a.corner {
        position: relative;
        margin: 0 !important;
        padding: 0 15px;
    }

    .img-fluid {
        width: 200px;
    }

    /*
    &:after {
        content: ' ';
        position: absolute;
        top: -20px;
        left: 10px;
        width: 100%;
        height: calc(100% + 30px);
        z-index: -1;
        background: rgba(30, 57, 54, 0.8);
        border-radius: 20px;
         background-image: radial-gradient(circle, rgba(30, 57, 54, 0.8) 10%, rgba(30, 57, 54, 0.85), 50%, rgba(30, 57, 54, 0), 90%, rgba(30, 57, 54, 0));
    }*/
}



.jumbo-buttons-wrapper {
    z-index: 1040;
}

@media (min-width: 769px) {
    .jumbo-buttons-wrapper {
        z-index: 1040;
        right: 270px !important;
        top: 10px !important;
    }
}

@media (max-width: 768px) {
    .jumbo-buttons-wrapper {
        right: 10px !important;
    }
}

.btn-xemthem {
    height: 40px;
    width: 150px;
    background: url(../images/SVG/xemthem4.svg) no-repeat center top/cover;

    &:hover {
        background-position-y: -43px;
    }
}

@media (max-width: 768px) {
    #hometopslider .carousel-control-prev {
        left: 35px;
    }
    #hometopslider .carousel-control-next {
        right: 35px;
    }
}

/** Be Nav **/
/*#fp-nav {
    left: 25px;

    ul:after {
        width: 1px;
        height: 100%;
        top: 0;
        position: absolute;
        content: '';
        left: 0;
        background-color: $color1;
    }

    ul li {
        height: auto;

        a {
            position: relative;
            z-index: 1;
            background-color: transparent;
            color: $color1;
            display: inline-block;
            height: 35px;
            width: 35px;
            text-align: center;
            border-radius: 50%;
            line-height: 2em;
            margin: 0;
            font-weight: 800;

            &:after {
                content: '';
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                z-index: 1;
                height: 12px;
                width: 12px;
                border: 0;
                background: $color1;
                color: $color2;
                left: -12px;
                top: 11px;
                margin: 0;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                -o-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
                opacity: 0;
            }

            &.active {
                background-color: $color1;
                color: $color2;

                &:after {
                    opacity: 1;
                }

            }

            &:hover {

                background-color: $color1;
                color: $color2;

                &:after {
                    opacity: 1;
                }
            }
        }

        .fp-tooltip {
            font-family: $mainfont;
            color: $color1;
            top: 8px;
            left: 40px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 800;
            line-height: 18px;
            text-shadow: 1px 1px 1px rgba(70, 64, 32, 0.5);
        }

        &:hover .fp-tooltip {}
    }


}*/

/** End Nav **/

@media (max-width: 768px) {
    #fullpage {
        margin-top: 0 !important;
        overflow-x: hidden;
    }
}

/*Begin Header*/
.icon-phone {
    background-image: url(../images/icon-call.svg);
    transition: all .3s ease-in-out;
    width: 35px;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

#hotline {
    z-index: 7;
    position: fixed;
    top: 10px;
    right: 60px;
    font-size: 25px;
    font-weight: 700;
    width: 160px;
    height: 35px;
    background-image: url(../images/SVG/hotline.svg);
    transition: all .3s ease-in-out;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.dknt {
    z-index: 7;
    position: fixed;
    top: 17px;
    right: 230px;
    font-size: 16px;
    font-weight: 500;
    color: $color1;
    background: transparent;
    border: none;
    font-family: $mainfont;
    cursor: pointer;

    &:before {
        content: '';
        background: url(../images/SVG/click.svg) center center/contain no-repeat;
        left: -35px;
        height: 30px;
        width: 30px;
        top: -2px;
        position: absolute;
        z-index: 1;
        cursor: pointer;

    }
}

.wpcf7 input.btn-new[type=submit] {
    color: $color2;
    border-color: $color1;
    border-radius: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;

    &:hover {
        color: $color1;
        border-color: $color2;
        background-color: transparent;

        span {
            background: $color2;
        }
    }

    span {
        background: $color1;
        padding: 8px 10px;

        &:hover {
            background: $color2;
        }
    }

    &.fixed-bottom {
        right: 25px;
        left: auto;
        bottom: 5px;
    }
}

.site-info {
    margin-left: 25px;
}

.bg-line-bot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 215px;
    z-index: 1;
    background: url(../images/bg-line-bot.png) no-repeat top center/cover;
}

/*End Header*/


.sb_pagination {
    position: absolute;
    top: 50%;
    transform: translateY(-250px);
    left: 20px;
    z-index: 1000;
    width: 70px;
    .sb_social {
        a {
            display: block;
            width: 13px;
            margin: 0 auto;
            transform: none !important;
            transition: none !important;
            opacity: 1 !important;
            &:not(:first-child) {
                margin-top: 16px;
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
    .sb_pager {
        margin: 50px 0;
        padding: 100px 0;
        position: relative;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        &:before,
        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 80px;
            position: absolute;
            top: 0;
            left: 50%;
            background: #fff;
        }
        &:after {
            top: auto;
            bottom: 0;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
        .sb_pager_current {
            font-size: 25px;
            line-height: 1em;
        }
        .sb_pager_total {
            font-size: 15px;
            line-height: 1em;
        }
        .sb_pager_seperator {
            font-size: 20px;
            line-height: 1em;
            margin-top: 0.1em;
        }
    }
    .sb_title {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.sb_pagination.is-dark {
    .sb_pager {
        color: #000;
        &:before,
        &:after {
            background: #000;
        }
    }
}

@media (max-width: 768px) {
    .sb_pagination {
        transform: translateY(-160px);
        left: 5px;
        width: 50px;
        .sb_social {
            a {
                width: 10px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
        .sb_pager {
            margin: 10px 0;
            padding: 40px 0;
            &:before,
            &:after {
                height: 30px;
            }
            .sb_pager_current {
                font-size: 16px;
            }
            .sb_pager_total {
                font-size: 14px;
            }
            .sb_pager_seperator {
                font-size: 12px;
            }
        }
        .sb_title {
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.home-section.secmot {
    .top-head {
        position: absolute;
        height: 80px;
        width: 100vw;
        background-color: #2c4e3e;
        z-index: 2;

        &:before {
            content: '';
            width: 300px;
height: 80px;
position: absolute;
top: 0;
left: -140px;
            background: url(../images/top-head-left-300.png) right center/cover no-repeat;
        }

        &:after {
            content: '';
            width: 300px;
            height: 80px;
            position: absolute;
            top: 0;
            right: 0;
            background: url(../images/top-head-right-300.png) right center/cover no-repeat;
        }
    }

    .image-text {
        min-height: 0;
        min-width: 600px;

    }

    .mouse-down {
        position: absolute;
        left: 0;
        bottom: 38px;
        width: 100%;
        height: 50px;
        text-align: center;
        z-index: 9;

        .ic {
            width: 22px;
            height: 49px;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 50px;
            line-height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &.mouse {
                background-image: url(../images/mouses.png);
            }
        }
    }
}

@media (max-width: 768px) {

    .logo {
        top: 7px;
    }
    .logo a.corner {
        padding: 0 10px 0 0 !important;
    }
    .logo a.corner img {
        display: block;
        width: 150px !important;
        height: auto;
    }
    .navbar {
        background: $color2!important;
        height: 60px;
    }
    .navbar .logo:after {
        display: none;
    }

    .home-section.secmot {
        .top-head {
            height: 70px;
            overflow: hidden;
        }
        .imgtext {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 2rem 0 1rem !important;
        }
    }

    .home-section.secmot .top-head {
        display: none;
    }

    .intro .carousel-inner {
        height: calc(100vh - 50px) !important;
    }

    .jumbo-buttons-wrapper {
        z-index: 10000 !important;
    }

    .jumbo-by-bonfire-wrapper .jumbo-by-bonfire .menu:after {
        height: 100vh !important;
    }

    .jumbo-by-bonfire-wrapper .jumbo-by-bonfire li {
        text-align: right !important;
    }

}

.jumbo-menu-button-active::before {
    -webkit-transform: translateY(10px) rotate(45deg) !important;
    -moz-transform: translateY(10px) rotate(45deg) !important;
    transform: translateY(10px) rotate(45deg) !important;
}
.jumbo-menu-button-active::after {
    -webkit-transform: translateY(-8px) rotate(-45deg) !important;
    -moz-transform: translateY(-8px) rotate(-45deg) !important;
    transform: translateY(-8px) rotate(-45deg) !important;
}

.gioithieu,
.tienichmoi {


    height: 100vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    background-color: #114d31;

    &.show-text {
        opacity: 1;
        animation: scaleLarge2;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }


    .jumbotron {
        box-shadow: none;
        margin-bottom: 10px;
        position: relative;

    }

    .hinh {
        height: 100vh;
        position: absolute;
        right: 0;
        width: 50vw;

        &.left {
            left: 0;
            right: auto;
        }
    }

    .imgtext {
        width: auto;
    }

    .bong {
        position: relative;

        &:after {
            content: '';
            width: 600px;
            height: 600px;
            position: absolute;
            left: -100px;
            top: -70px;
            background-image: radial-gradient(circle, rgba(30, 57, 54, 0.9) 10%, rgba(30, 57, 54, 0.9), 60%, rgba(30, 57, 54, 0), 80%, rgba(30, 57, 54, 0));
            mix-blend-mode: multiply;
            opacity: 1;
            z-index: -1;
        }
    }

}

@media (min-width: 1150px) and (max-width: 1300px) {
    .gioithieu .container {
        max-width: 1000px;
    }
}

@media (min-width: 992px) and (max-width: 1149px) {
    .gioithieu .container {
        max-width: 830px;
    }
}

@media (min-width: 768px) and (max-width: 880px) {
    .gioithieu .container {
        max-width: 620px;
    }
}

@media (max-width: 768px) {
    .gioithieu .container {
        padding-left: 65px;
    }
    .gioithieu .fp-tableCell {
        padding: 0 0 60px !important;
    }
    .gioithieu .fp-tableCell .jumbotron {
        width: auto;
    }
    .gioithieu .imgtext {
        padding: 0;
        max-width: 280px;
    }
    .gioithieu .text-left {
        order: 2;
    }
    .gioithieu .hinh {
        position: static;
        width: 100vw;
        height: 100vw;
        background-size: 100% auto;
        margin-bottom: 40px;
        order: 1;
    }
    .tienichmoi .fp-tableCell {
        padding: 60px 0 !important;
    }
}

.home-section .tscat {

    position: relative;
    justify-content: space-around;

    /*&:before {
        position: absolute;
        content: '';
        width: 15px;
        height: 100%;
        background: url(../images/path-left.png) no-repeat;
        top: 7px;
        left: 0;
        filter: brightness(100);
        -webkit-filter: brightness(100);
    }

    &:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 100%;
        background: url(../images/path-right.png) no-repeat;
        top: 7px;
        right: 0;
        filter: brightness(100);
        -webkit-filter: brightness(100);
    }*/

    .tschild {
        border: none;
        text-align: left;


        /*
            &:before {
                position: absolute;
                content: '';
                width: 15px;
                height: 100%;
                background: url(../images/path-left.png) no-repeat;
                top: 7px;
                left: 0;
                filter: brightness(100);
                -webkit-filter: brightness(100);
            }

            &:after {
                content: '';
                position: absolute;
                width: 15px;
                height: 100%;
                background: url(../images/path-right.png) no-repeat;
                top: 7px;
                right: 0;
                filter: brightness(100);
                -webkit-filter: brightness(100);
            }*/

        &:first-child {
            margin-left: 0;

        }

        &:last-child {
            margin-right: 0;

        }


        .tents,
        .tsphu {
            font-size: 14px;
            white-space: nowrap;
            color: #c89924;
            font-weight: 800;
            line-height: 35px;
        }

        .ts {
            font-size: 13px;
            color: $white;
        }
    }
}

.imgtext.col-md-4 {
    max-width: 350px;
}

.vitri {
    h2 {
        font-size: 20px;
    }

    &.show-text {
        opacity: 1;
        animation: scaleLarge2;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-fill-mode: forwards;
    }

    .d-md-flex {

        width: 100%;
        height: 100vh;
        margin-right: 25px;
    }

    .col-md-4:before {
        background-color: #0a2318;
        content: '';
        width: 600px;
        right: -50px;
        top: 0;
        height: 100vh;
        z-index: -1;
        position: absolute;
    }

    .box-vitri {
        float: right;


        p {
            color: #fff;
            text-align: justify !important;
            font-size: 14px;
            line-height: 1.8em;


        }

        a {
            margin-left: 90px;
        }
    }

    #mapimg {
        position: relative;
        width: 70vw;
        right: -50px;

        @include media-breakpoint-only(md) {
            width: auto;
        }

        .line,
        .map-svg {
            position: absolute;
            right: 0;
            top: 0;
            height: 100vh;
            width: 60vw;
            max-width: 100%;
            max-height: 100%;

            /*@include media-breakpoint-up(md) {
                width: auto;
            }*/

            .st-line {
                fill: none;
                stroke: #fff;
                stroke-miterlimit: 10;
                stroke-width: 2;
                stroke-dasharray: 10;
                stroke-dashoffset: 0;
                animation: dash 15s infinite linear;
                -webkit-animation: dash 15s infinite linear;
            }

        }

        .pointer-map {
            height: 100vh;
            width: 60vw;
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            pointer-events: none;
            z-index: 10;
            animation: bounceInDown;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;

            /*@include media-breakpoint-only(lg) {
                right: 260px;
            }
*/
            h3 {
                font-weight: 500;
                font-size: 13px;
                line-height: 1;
                display: block;
                padding: 10px 15px;
                text-transform: uppercase;
                opacity: 0;
                transform: scale(0);
                background-color: #00303f;
                position: absolute;
                top: 177px;
                left: 440px;
                margin: -22px 0 0;
                border-radius: 30px;
                z-index: 20;
            }

            .pointer {
                display: block;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
                position: absolute;

                #icon-pointer {
                    width: 60vw;
                    height: 100vh;
                    z-index: 1;
                    position: relative;
                }

                /*&:before {
                    top: 0;

                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    content: '';
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    top: calc(33% + 4px);
                    left: calc(54% + 1px);
                    background-color: #143531;
                    border-radius: 50%;
                    border: 6px solid #a47651;
                    animation: Border 2s infinite;


                }*/

                span,
                #SVGID_1_ {
                    top: 33%;
                    border-radius: 50%;
                    pointer-events: none;
                    width: 50px;
                    height: 50px;
                    left: calc(54% + 5px);
                    position: absolute;
                    animation: AniPointer 4s infinite;

                    &:nth-child(1) {
                        animation-delay: 0s;
                    }
                }

                /*  .pointer-stroke {
                    position: absolute;
                    width: 54px;
                    height: 54px;
                    top: 33%;
                    bottom: -5px;
                    left: calc(54% - 5px);
                    border-radius: 50%;
                    border: 2px dashed #fff;
                    animation: Round 6s infinite linear;
                }*/

            }

        }


    }

    #map {
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $color2;
        width: 100%;
        position: relative;

        margin: 0 0 0;
    }

    .mapnew {
        height: auto;
        width: 70vw;
        margin-left:20px;
    }

}

@media (min-width: 1150px) and (max-width: 1300px) {
    .vitri .container {
        max-width: 1000px;
    }
}

@media (min-width: 992px) and (max-width: 1149px) {
    .vitri .container {
        max-width: 830px;
    }
}

@media (min-width: 768px) and (max-width: 880px) {
    .vitri .container {
        max-width: 620px;
    }
}

@media (max-width: 768px) {
    .vitri .container,
    .tienichmoi .container {
        padding-left: 65px;
    }
    .vitri #mapimg {
        right: 0;
        margin-bottom: 20px;
    }
    .vitri .imgtext {
        padding: 0 !important;
    }
    .vitri h2 {
        margin-top: 2rem;
    }

    .tienichmoi .imgtext {
        padding: 0 !important;
        width: 280px;
    }
}

.tienich {

    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        opacity: 0.8;
        z-index: -1;
        background: #006da1;
        background: linear-gradient(to bottom, transparent, rgba(42, 84, 80, 0.86) 40%, #1E3936);
        height: 180px;
        width: 100%;

    }


    .slide-tienich {
        width: 100vw;

    }

    .headtienich {
        position: absolute;
        bottom: 120px;
        z-index: 9;
        margin: 0 auto;
        width: 100%;
    }

    .line-wave:after {
        content: '';
        position: relative;
        animation-delay: 2s;
        height: 1px;
        background: #fff3b5;
        width: 150px;
        display: none;
        margin: 0 auto;

    }

    .ms-skin-default .ms-nav-next,
    .ms-skin-default .ms-nav-prev {

        width: 60px;
        height: 120px;
        background: url(../images/SVG/arrow.svg) right center/cover no-repeat;
    }

    .ms-skin-default {
        .ms-nav-next {
            right: 0;
        }

        .ms-nav-prev {
            left: 0;
            background-position: left center;
        }
    }
}

.ms-slide .ms-slide-layers {
    left: 0 !important;
    max-width: 100vw !important;

    .ms-layer {
        margin: 0 auto;
        width: 60% !important;
        height: 150px !important;
        bottom: 0px !important;
        text-align: center !important;
        left: 20% !important;
        z-index: 99;

        &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: -25vw;
            width: 110vw;
            height: 200px;
            z-index: -2;
            background-image: linear-gradient(to top, rgba(30, 57, 54, 0.9) 0%, rgba(30, 57, 54, 0.9) 10%, rgba(30, 57, 54, 0.7), 50%, rgba(30, 57, 54, 0.7), 90%, rgba(241, 253, 252, 0))
        }

        h3 {
            color: $color1;
            text-transform: uppercase;
            text-align: center;
            font-size: 28px;
            line-height: 2em;
            font-weight: 900;
            padding-bottom: 10px;
            margin-bottom: 15px;
            display: inline-block;
            position: relative;
            letter-spacing: 1px;

            .letter {
                display: inline-block;
                line-height: 1em;
            }

            &:after {
                content: '';
                position: absolute;
                width: 120%;
                left: -10%;
                top: 2em;
                height: 1px;
                background-color: $color1;
            }
        }

        p {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            text-align: center;
        }
    }
}

.slick-slider {

    .slick-slide {
        width: 1600px;
        height: 900px;
        max-height: 80vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .slick-arrow {
        width: auto;
        height: auto;

        &.slick-next {
            right: 100px;

            &:before {
                @include slickbut;
            }
        }

        &.slick-prev {
            left: 100px;
            z-index: 1;

            &:before {
                @include slickbut;
            }
        }
    }
}

.home-section.canho {

    &.shophouse:before {
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 0;
        width: 40%;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 25px;
        max-width: none;
        height: 100vh;
        background: rgb(8, 34, 23);
        background: linear-gradient(90deg, rgba(8, 34, 23, 1) 0%, rgba(8, 33, 23, 0) 84%);
    }

    .bgslider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .box-canho {
        position: relative;
        height: 100vh;
        width: 40%;
        z-index: 1;

        &:after {
            position: absolute;
            z-index: 9;
            bottom: 0;
            left: 0;
            width: 40%;
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 25px;
            max-width: none;
            height: 100vh;
            background: rgb(8, 34, 23);
            background: linear-gradient(90deg, rgba(8, 34, 23, 1) 0%, rgba(8, 33, 23, 0) 84%);
        }


    }

    .thongso li:before,
    .thongso li:after {
        filter: brightness(100);
    }

}

.home-section.news {


    .fp-tableCell {
        background-color: rgba(0, 109, 161, 0.3);
    }

    .headtintuc {
        width: 230px;
        margin-left: -65px;
    }


    .container > .row {
        position: relative;
        z-index: 9;

        .boxnews {
            max-width: 1000px;
            margin: 0 auto;
        }

        .col-md-4 {
            background-color: $color2;

            &:hover {
                background-color: $color1 !important;

                -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;

                h2.entry-title {
                    color: $color2 !important;
                    -webkit-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                }

            }

            &:before {
                position: absolute;
                z-index: 2;
                content: '';
            }

            &:hover:before {
                -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
            }

            &.hinh {
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
            }

        }

        .col-md-4:nth-child(1) {
            .news-click {
                width: 200%;
            }

            &:hover:before {
                border-left-color: $color1 !important;
                z-index: 2;
            }

            &:hover:after {
                background: rgba(0, 0, 0, 0.3);
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 100%;
                position: absolute;
                cursor: pointer;
                z-index: 1;
                -webkit-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }

            &:before {
                border-top: 30px solid transparent;
                border-left: 20px solid #1e3936;
                border-bottom: 30px solid transparent;
                right: -20px;
                width: 20px;
                height: 20px;
                top: calc(50% - 25px);


            }
        }

        .col-md-4:nth-child(3) {
            background-color: #2c504c;

            .news-click {
                height: 200%;
            }

            &:hover:before {
                border-top-color: $color1 !important;
            }

            &:hover:after {
                background: rgba(0, 0, 0, 0.3);
                content: '';
                width: 100%;
                height: 100%;
                bottom: -100%;
                ;
                left: 0%;
                position: absolute;
                cursor: pointer;
                z-index: 1;
                -webkit-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }

            &:before {
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                border-top: 20px solid #2c504c;
                right: calc(50% - 20px);
                bottom: -20px;

            }
        }

        .col-md-4:nth-child(4) {
            order: 6 !important;
        }

        .col-md-4:nth-child(5) {
            background-color: #467b75;

            .news-click {
                width: 200%;
                left: -100%;
            }

            &:hover:before {
                border-right-color: $color1 !important;

            }

            &:hover:after {
                background: rgba(0, 0, 0, 0.3);
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                right: 100%;
                position: absolute;
                cursor: pointer;
                z-index: 1;
                -webkit-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
            }

            &:before {
                border-top: 30px solid transparent;
                border-right: 20px solid #467b75;
                border-bottom: 30px solid transparent;
                left: -20px;
                width: 20px;
                height: 20px;
                top: calc(50% - 25px);
            }
        }

        .col-md-4:nth-child(6) {
            order: 4 !important;
        }

        .col {
            justify-content: stretch;


            /*&:hover {
                border-color: $color2;
                -webkit-transition: border-color 500ms linear;
                -ms-transition: border-color 500ms linear;
                transition: border-color 500ms linear;
            }*/
            .card-img-overlay {
                padding: 0;
            }

            .card h2 {
                background: rgba(0, 109, 161, 0.8);
                margin: 0;
                border: 0;
                border-radius: 0;
                bottom: 0;
                font-size: 18px;
                line-height: 1.5em;
                font-weight: 500;

            }

            .news-thumb {
                min-width: 200px;
                min-height: 100%;
                background-repeat: no-repeat;
                background-size: cover;


            }

            &.d-flex > .d-flex {
                height: calc(100%/3 - 10px);

                &:hover .text {
                    background-color: rgba(0, 91, 134, 0.9);

                    -webkit-transition: background-color 500ms linear;
                    -ms-transition: background-color 500ms linear;
                    transition: background-color 500ms linear;

                    h2 {
                        color: $color1 !important;
                        -webkit-transition: color 500ms;
                        -ms-transition: color 500ms;
                        transition: color 500ms;
                    }
                }
            }

        }
    }



    .entry-meta {
        font-size: 11px;
        margin-bottom: 5px;
    }

    .text {
        line-height: 1.4em;
        font-size: 13px;
    }

    h2.entry-title {
        font-size: 16px;
        color: #ffd9b6;
        line-height: 1.6em;
        text-align: left;
        font-weight: 500;
        overflow: hidden;
    }

    .news-click {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: inline-block;
        position: absolute;
        z-index: 1;

    }


}

.page-template-tintuc .home-section.news {
    h2.entry-title {
        color: $color2;
        font-weight: 600;
        font-size: 18px;
    }

    .text {
        line-height: 1.4em;
        background-color: transparent;
        font-size: 15px;
        font-weight: 500;

    }
}

/*---------------*/
/***** Sadie *****/
/*---------------*/
figure.effect-sadie {
    background: #fff;
    opacity: 1;
}

figure.effect-sadie:hover,
figure.effect-sadie:hover .news-thumb {
    background: transparent;
    opacity: 1;
    padding: 5px;
}

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to bottom, rgba(13, 153, 195, 1) 0%, rgba(4, 90, 140, 1) 125%);
    background: linear-gradient(to bottom, rgba(13, 153, 195, 1) 0%, rgba(4, 90, 140, 1) 125%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    display: none;

}

figure.effect-sadie h2 {
    color: $color1;
    -webkit-transition: -webkit-transform 0.55s, color 0.55s;
    transition: transform 0.55s, color 0.55s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
    transition: opacity 0.55s, transform 0.55s;
}

figure.effect-sadie p {
    width: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);

}

figure.effect-sadie .btn {
    opacity: 0;
    display: none;
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -80px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -80px, 0);
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: block;
}

figure.effect-sadie:hover p {
    opacity: 1;
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -80px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -80px, 0);
}

figure.effect-sadie:hover .btn {
    opacity: 1;
    display: inline-block;
    -webkit-transition: opacity 0.55s, -webkit-transform 0.55s;
    transition: opacity 0.55s, transform 0.55s;
}

/** Begin Mat bang */
.matbang {
    #mbfullbg {
        position: absolute;
        z-index: -2;
        background: #f6e5bc;
        width: 2000px;
        min-width: 100%;
        height: 1125px;
        min-height: 100vh;
        top: calc((100vh - 1125px) / 2);
        left: calc((100vw - 2000px) / 2.5);
    }

    #mbfull {
        position: absolute;
        width: 2000px;
        min-width: 100%;
        height: 1125px;
        min-height: 100vh;
        top: calc((100vh - 1125px) / 5);
        left: calc((100vw - 2000px) / 2.5);
        z-index: -1;

        #points {
            width: 2000px;
            min-width: 100%;
            height: 1125px;
            min-height: 100vh;
            top: calc((100vh - 1125px) / 2);
            left: calc((100vw - 2000px) / 2.5);
            margin: 0 auto;

            position: absolute;

        }

        svg#svgmb {
            width: 2000px;
            min-width: 100%;
            height: 1125px;
            min-height: 100vh;
            top: calc((100vh - 1125px) / 2);
            left: calc((100vw - 2000px) / 2.5);
            margin: 0 auto;

            position: absolute;


            .mapmb {
                fill: #068E16;
                fill-opacity: 0;
                //   stroke: #fff;
                stroke-miterlimit: 10;
                stroke-width: 2;
                stroke-dasharray: 10;
                stroke-dashoffset: 0;
                animation: FillOpacityMB 3s infinite linear;
                -webkit-animation: FillOpacityMB 3s infinite linear;

                &#mbblue {
                    fill: #1A8DC6;

                }

                &#mbred {

                    fill: #D34A4A;

                }

                &#mbgreen {

                    fill: #068E16;

                }

                &:hover {
                    #mbblue {
                        fill: #1A8DC6;
                        stroke: #ffffff;

                    }

                    #mbred {
                        fill: #D34A4A;
                        stroke: #ffffff;

                    }

                    #mbgreen {
                        fill: #068E16;
                        stroke: #ffffff;

                    }
                }
            }
        }
    }



    a.point-h {
        border: 5px solid rgba(255, 255, 255, 0.7);
        background: -moz-linear-gradient(66deg, #0e6fb9 0, #17a2b8 100%);
        background: -webkit-gradient(linear, 66deg, color-stop(0, 0e6fb9), color-stop(100%, 17a2b8));
        background: -webkit-linear-gradient(66deg, #0e6fb9 0, #17a2b8 100%);
        background: -o-linear-gradient(66deg, #0e6fb9 0, #17a2b8 100%);
        background: -ms-linear-gradient(66deg, #0e6fb9 0, #17a2b8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
        background: linear-gradient(66deg, #0e6fb9 0, #17a2b8 100%);
        color: #ffffff;
        border-radius: 15px;
        padding: 3px 10px;
        transition: 0.2s all ease;
        position: absolute;
        text-transform: uppercase;
        font-size: 13px;

        strong {
            font-weight: 900 !important;
            font-size: 110%;
        }

        &:hover {
            background: -moz-linear-gradient(66deg, #17a2b8 0, #0e6fb9 100%);
            background: -webkit-gradient(linear, 66deg, color-stop(0, 17a2b8), color-stop(100%, 0e6fb9));
            background: -webkit-linear-gradient(66deg, #17a2b8 0, #0e6fb9 100%);
            background: -o-linear-gradient(66deg, #17a2b8 0, #0e6fb9 100%);
            background: -ms-linear-gradient(66deg, #17a2b8 0, #0e6fb9 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a2b8', endColorstr='#0e6fb9', GradientType='1');
            background: linear-gradient(66deg, #227e8d 0, #074569 100%);
            transition: 0.2s all ease;
        }

        &:before {
            content: '';
            display: block;
            width: 41px;
            height: 111px;
            background: url(../images/icon-matbang.png) no-repeat;
            position: absolute;
            left: -41px;
            top: 11px;
        }

        &.blue-diamond {
            left: 810px;
            bottom: 650px;
            /*      @include media-breakpoint-only(xl) {
                        left: calc(100vw - 1000px + 180px);
                        bottom: 60%;
                    }
            @include media-breakpoint-up(xl) {
                        left: 700px;
                        bottom: 580px;
            }*/
        }

        &.red-diamond {
            left: 50%;
            top: 50%;
            /*
             @include media-breakpoint-only(xl) {
                         left:calc(100vw - 1000px + 310px);
                        bottom: 48%;
                    }
            @include media-breakpoint-up(xl) {
                        left: calc(100vw - 1000px + 110px);
                        bottom: 48%;
                    }*/
            background: -moz-linear-gradient(66deg, #dc3545 0, #6d1c19 100%);
            background: -webkit-gradient(linear, 66deg, color-stop(0, dc3545), color-stop(100%, 6d1c19));
            background: -webkit-linear-gradient(66deg, #dc3545 0, #6d1c19 100%);
            background: -o-linear-gradient(66deg, #dc3545 0, #6d1c19 100%);
            background: -ms-linear-gradient(66deg, #dc3545 0, #6d1c19 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc3545', endColorstr='#6d1c19', GradientType='1');
            background: linear-gradient(66deg, #dc3545 0, #6d1c19 100%);

            &:hover {
                background: -moz-linear-gradient(66deg, #90131f 0, #bf5551 100%);
                background: -webkit-gradient(linear, 66deg, color-stop(0, 90131f), color-stop(100%, bf5551));
                background: -webkit-linear-gradient(66deg, #90131f 0, #bf5551 100%);
                background: -o-linear-gradient(66deg, #90131f 0, #bf5551 100%);
                background: -ms-linear-gradient(66deg, #90131f 0, #bf5551 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90131f', endColorstr='#bf5551', GradientType='1');
                background: linear-gradient(66deg, #90131f 0, #bf5551 100%);
            }
        }

        &.green-diamond {
            right: 720px;
            bottom: 670px;
            /* @include media-breakpoint-only(xl) {
                       right: calc(100vw - 1000px);
                        bottom: 62%;
                }
            @include media-breakpoint-up(xl) {
                       right: calc(100vw - 1000px - 230px);
                        bottom: 62%;
                }*/
            background: -moz-linear-gradient(66deg, #73BF3A 0, #3c6f17 100%);
            background: -webkit-gradient(linear, 66deg, color-stop(0, 73BF3A), color-stop(100%, 3c6f17));
            background: -webkit-linear-gradient(66deg, #73BF3A 0, #3c6f17 100%);
            background: -o-linear-gradient(66deg, #73BF3A 0, #3c6f17 100%);
            background: -ms-linear-gradient(66deg, #73BF3A 0, #3c6f17 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#3c6f17', GradientType='1');
            background: linear-gradient(66deg, #73BF3A 0, #3c6f17 100%);

            &:hover {
                background: -moz-linear-gradient(66deg, #28a745 0, #336311 100%);
                background: -webkit-gradient(linear, 66deg, color-stop(0, 28a745), color-stop(100%, 336311));
                background: -webkit-linear-gradient(66deg, #28a745 0, #336311 100%);
                background: -o-linear-gradient(66deg, #28a745 0, #336311 100%);
                background: -ms-linear-gradient(66deg, #90131f 0, #336311 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90131f', endColorstr='#336311', GradientType='1');
                background: linear-gradient(66deg, #28a745 0, #336311 100%);
            }
        }

        &.congvien {
            left: 1270px;
            bottom: 580px;

            &.khu2 {
                left: 1650px;
                bottom: 540px;
            }

            /* @include media-breakpoint-only(xl) {
                     left: calc(100vw - 1000px + 540px);
                    bottom: 58%;
                }
                @include media-breakpoint-up(xl) {
                     left: calc(100vw - 1000px + 350px);
                    bottom: 58%;
                }*/
            background: -moz-linear-gradient(66deg, #d3ac89 0, #a47651 100%);
            background: -webkit-gradient(linear, 66deg, color-stop(0, d3ac89), color-stop(100%, a47651));
            background: -webkit-linear-gradient(66deg, #d3ac89 0, #a47651 100%);
            background: -o-linear-gradient(66deg, #d3ac89 0, #a47651 100%);
            background: -ms-linear-gradient(66deg, #d3ac89 0, #a47651 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3ac89', endColorstr='#a47651', GradientType='1');
            background: linear-gradient(66deg, #d3ac89 0, #a47651 100%);

            &:hover {
                background: -moz-linear-gradient(66deg, #906947 0, #f7903e 100%);
                background: -webkit-gradient(linear, 66deg, color-stop(0, 906947), color-stop(100%, f7903e));
                background: -webkit-linear-gradient(66deg, #906947 0, #f7903e 100%);
                background: -o-linear-gradient(66deg, #906947 0, #f7903e 100%);
                background: -ms-linear-gradient(66deg, #906947 0, #f7903e 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#906947', endColorstr='#f7903e', GradientType='1');
                background: linear-gradient(66deg, #906947 0, #f7903e 100%)
            }
        }
    }
}

/** End Mat bang */
.partners {
    background: url('./../images/1x/bg6.png') center center/cover no-repeat;
    z-index: 9999;



    #row1 {
        max-width: 60%;
        margin: 0 auto;

        .col {
            &:first-child .cdt {
                width: 100px;
                margin-top: 0;
            }

            .cdt {
                width: 280px;
                margin-top: 20px;

            }
        }
    }


    .partner {
        max-height: 60px;
    }
}

.lienhe {
    background: url('./../images/1x/bg7.png') center center/cover no-repeat;
    z-index: 1;

    .box-info {
        margin-top: 20px;

        &:first-child {
            margin: 0;
        }
    }

    img.headlienhe {
        width: 100%;
        position: relative;
        margin-top: -163px;
        margin-left: -86px;
    }

    .heading {
        font-size: 17px;
        font-weight: 500;
        color: $color1;
        border-bottom: 1px solid $color1;
        display: inline-block;
        line-height: 1.5em;

    }

    .wpcf7 textarea,
    .wpcf7 textarea.wpcf7-validation-errors {
        height: 100px;
    }

    form,
    input,
    label,
    p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        line-height: 1.8em;
    }

    form > p {
        color: $color1;
    }


    .wpcf7 input.btn-new[type=submit] {
        background: $color1;
        width: auto;
        text-align: center;
        padding: 0 15px;
        text-transform: uppercase;

        &:hover {
            color: $color2;
        }

    }


}

/*** Footer ****/
#colophon p {
    font-size: 12px;
    letter-spacing: 1px;
}

.right-footer {
    span {
        transition: all .6s ease-in-out;
    }

}

#wrapper-navbar,
#wrapper-footer,
.jumbo-buttons-wrapper,
.fixed-bottom {
    z-index: 9999;
}

#wrapper-footer .fixed-bottom {
    z-index: 9999;
    float: right;
    width: 50vw;
    display: inline-block;
    right: 0;
    left: auto;
}

/*** Footer ****/
/** Contact **/


/** Contact **/

/* Begin Jumbo Hambuger Menu**/
.jumbo-by-bonfire-wrapper {
    top: 60px;
    right: 0;
    left: auto;
    height: auto;
    width: 160px;
    margin-right: 55px;
    z-index: 99;
    visibility: hidden;

    &.jumbo-menu-active {
        visibility: visible;
    }

    /*  &.jumbo-menu-active:before {
           background: #25403ea8;
    content: '';
    top: -100px;
    left: -100vw;
    width: 200vw;
    height: 100vh;
    z-index: 1039;
    position: fixed;
    }*/
}

.jumbo-main-menu-wrapper {
    height: auto;
    width: auto;
}

.jumbo-menu-button {
    padding: 18px 10px 20px 20px;
}

.jumbo-heading-image-wrapper {
    margin: -40px 50px 40px 50px;
}

.jumbo-by-bonfire ul {
    background: rgba(30, 57, 54, 0.95);
    padding-right: 15px;
    padding: 15px 15px 15px 35px;
    margin: 0;
    display: inline-block;
    width: 215px;
}

.jumbo-by-bonfire .menu > li {

    a {
        font-size: 18px;
        line-height: 2em;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 1px;
        display: inline-block;
        position: relative;
        padding-right: 35px;

        &:before {
            height: 1px;
            width: 20px;
            position: absolute;
            top: 16px;
            right: 0px;
            content: '';
            background: #fff;
        }

        span.bonfire-jumbo-main-desc {
            display: none;
        }
    }

    &:hover > a,
    &.current-menu-item > a {
        color: $color1;
        font-weight: 800;
        /*background: #006da1;
        background: linear-gradient(120deg, #1E3936 0%, #1E3936 5%, #16988b 26%, #4f827c 43%, #11544c 80%);
        background: -o-linear-gradient(transparent, transparent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;*/
    }

}

.jumbo-menu-button:before,
.jumbo-menu-button:after,
.jumbo-menu-button div.jumbo-menu-button-middle {
    width: 30px;
    height: 2px;
    margin: 7px 0;

}

.jumbo-menu-button:before,
.jumbo-menu-button:after {
    margin: 0;
    height: 2px;
    width: 30px;
}

.jumbo-menu-button-label:before {
    bottom: 0;
}

/* End Jumbo Hambuger Menu**/

/* Menu**/

.edfm-142 .edfm-toggle {
    background-color: transparent;
    width: 74px;
    border: none;
    color: #fff;
    height: 52px;
    background: url(../images/menu.png) no-repeat;
    position: relative;

    &:before {
        width: 60px;
        height: 50px;
        position: absolute;
        left: 10px;
        top: 18px;
        content: 'Menu';
        color: #fff;
        z-index: 99;
        text-transform: uppercase;
        font-family: $mainfont;
    }

    > div {
        display: none;
    }

    &.toggle-active {
        > div {
            display: block;
        }

        &:before {
            display: none;
        }
    }
}

.edfm-toggle > div {
    top: 15px;
}

.edfm-toggle > div.edfm-bar2 {
    top: 24px;
}

.edfm-toggle > div.edfm-bar3 {
    top: 32px;
}

.edfm-toggle > div {
    background: #fff;
}

.edfm_position_right .edfm-toggle-wrapper {
    left: inherit;
    right: 25px;
    top: 25px;
    z-index: 99999;
}

.edfm_side_menu .edfm-fly-menu-wrapper-inner {
    background: #045a7c;
    z-index: 90;
}

.edfm-toggle-wrapper {
    z-index: 91;

}

.edfm-title-wrap span.edfm-title {
    font-size: 15px;
    line-height: 1.7;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}

.edfm-142.edfm_side_menu .edfm-fly-menu-body ul li.edfm_side_menu_item_animation_1 a.edfm-menu-link:hover,
.edfm-142.edfm_side_menu .edfm-fly-menu-body ul li.edfm_side_menu_item_animation_1.current-menu-item a.edfm-menu-link,
.edfm-142.edfm_side_menu .edfm-fly-menu-body ul li.edfm_side_menu_item_animation_1.current_page_item a.edfm-menu-link,
.edfm-142.edfm_nav_icon_menu.edfm_drop .edfm-fly-menu-body ul ul li.edfm_nav_icon_menu_item_animation_2 a.edfm-menu-link:after,
.edfm-142.edfm_nav_icon_menu .edfm-fly-menu-body ul li.edfm_nav_icon_menu_item_animation_2 a.edfm-menu-link:after,
.edfm-142.edfm_nav_icon_menu_template_2 .edfm-fly-menu-body ul li.edfm_nav_icon_menu_item_animation_1 a.edfm-menu-link:hover,
.edfm-142.edfm_nav_icon_menu_template_2 .edfm-fly-menu-body ul li.edfm_nav_icon_menu_item_animation_1.current-menu-item a.edfm-menu-link,
.edfm-142.edfm_nav_icon_menu_template_2 .edfm-fly-menu-body ul li.edfm_nav_icon_menu_item_animation_1.current_page_item a.edfm-menu-link,
.edfm-142.edfm_nav_icon_menu .edfm-fly-menu-body ul li.edfm_nav_icon_menu_item_animation_3 a.edfm-menu-link:after,
.edfm-142.edfm_nav_icon_menu .edfm-fly-menu-body ul li.edfm_nav_icon_menu_item_animation_4 a.edfm-menu-link:after,
.edfm-142.edfm_nav_icon_menu.edfm_drop .edfm-fly-menu-body ul ul li.edfm_nav_icon_menu_item_animation_4 a.edfm-menu-link:after,
.edfm-142.edfm_nav_icon_menu_template_2 .edfm-header-search span.fa.fa-search:hover,
.edfm-142.edfm_nav_icon_menu_template_2 .edfm-footer-search span.fa.fa-search:hover {
    text-decoration: none;
}

.edfm-title-wrap span.edfm-title .fa,
.edfm-title-wrap span.edfm-title .fas,
.edfm-title-wrap span.edfm-title .fab,
.edfm-title-wrap span.edfm-title .far {
    margin-right: 10px;
}

.edfm_side_menu .edfm-title-wrap span.edfm-title {
    font-weight: 600;
    font-family: $mainfont;
}

/** Begin SVG logo*/
#drawsvg_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100vh;

}

.divblue {
    z-index: 999998;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.bgblue {
    background: #1E3936;
    height: 100%;
    width: calc(100vw/3);
    position: relative;

    &#block1 {
        background: #1E3936;
    }

    &#block2 {
        background: #2c504c;
    }

    &#block3 {
        background: #467b75;
    }
}

#logo_group {
    stroke: #D3AC88;
    stroke-miterlimit: 10;
    stroke-width: 1.01px;
}

#logo_group_2 {
    stroke: #A47651;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}


#logoani {
    .st0 {
        color: #FFFFFF;
    }

    .st1 {
        color: #FFFFFF;
        stroke: #FFFFFF;
        stroke-width: 0.2;
        stroke-miterlimit: 10;
    }

    .st2 {
        color: #A47651;
    }

    .st3 {
        color: #231F20;
        stroke: #231F20;
        stroke-width: 0.3;
        stroke-miterlimit: 10;
    }

    .st4 {
        color: #D3AC88;
    }
}

.line {
    stroke-width: 0;
}

#wave_group {
    stroke: #1E3936;
    stroke-miterlimit: 10;
    stroke-width: 1.01px;
}

#wave_group_2 {
    stroke: #2B5952;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

/** End SVG logo*/
/** Begain SVG Wave*/
svg#wavebot {
    width: 100%;
    bottom: -50px;
    position: absolute;
}

.wave {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg') repeat-x;
    position: absolute;
    top: -68px;
    width: 6400px;
    height: 68px;
    animation: wave 17s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -65px;
    animation: wave 17s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 17s ease -11.25s infinite;
    opacity: 1;
}

.gooeff {
    filter: url(#goo);
}

#wave2 {
    animation-duration: 17s;
    animation-direction: reverse;
    opacity: .5
}

#wave3 {
    animation-duration: 30s;
    opacity: .3;
}

#wave4 {
    animation-duration: 10s;
    opacity: .5;
}

#wave1 {
    animation-duration: 23s;
    opacity: .3;
}

@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}


/* Necessary for full page carousel*/
html,
body,
.view {
    height: 100%;
}

/* Carousel*/
.home-section {

    .carousel,
    .carousel-item,
    .carousel-item.active {
        height: 100%;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel .carousel-item video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .embed-responsive,
    .carousel-inner {
        height: 100vh;
    }
    .carousel-inner.secnam {
        height: auto;
    }
    .face-map {
        height: 65vh;
        .fp-tableCell {
            vertical-align: top;
            height: auto !important;
        }
    }
}

.matbang-custom {
    .carousel-inner {
        max-width: 900px;
        margin: 0 auto;
    }
    .fp-slides {
        padding-bottom: 20px;
        .carousel-indicators {
            bottom: -40px;
        }
        .carousel-control-prev {
            .carousel-control-prev-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230e3d31' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
            }
        }
        .carousel-control-next {
            .carousel-control-next-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230e3d31' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .matbang-custom {
        .face-map {
            height: auto;
        }
        .fp-slides {
            padding-bottom: 20px;
            .carousel-indicators {
                bottom: -40px;
            }
            .carousel-control-prev {
                left: -10px;
            }
            .carousel-control-next {
                right: -10px;
            }
        }
    }
}

.newsdetail {
    background: #fff;
}

//Single tin tuc
.single #nofullpage {
    background: $color2 url('../images/bg-keyvisual.jpg') fixed;
    background-size: cover;

    &:before {
        content: '';
        top: 0;
        left: 0;
        position: fixed;
        z-index: 0;
        background: #0e3d31;
        width: 100%;
        height: 100%;
    }

    #main {
        background: #fff;
        width: 90%;
        margin: 80px auto 0;
        padding: 3em;

        h1.entry-title {
            font-weight: 800;
            color: $color2;
            font-size: 1.5rem;
        }

        .entry-meta {
            border-bottom: 1px solid #ccc;
            margin-bottom: 10px;
            font-style: italic;
            font-size: 14px;
        }

        .entry-content p,
        .tinlienquan {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.6;
            text-align: justify;
            font-family: $mainfont;
            color: #000;

            .entry-title {
                font-size: 16px;
                color: $color2;
                font-weight: 800;
                line-height: 1.6;
            }

            p.text {
                font-size: 15px;
                font-weight: 500;
                line-height: 1.6;
                text-align: justify;
                font-family: $mainfont;
                color: #000;
            }

        }

        .post-navigation a {
            font-weight: 800;
            font-size: 24px;
        }
    }
}

#go-top {
    background: url(http://signial.vn/catalog/view/theme/default/images/top2.png) center center no-repeat;
    position: fixed;
    bottom: 5px;
    right: 25px;
    left: auto;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(26, 123, 163, 0.8);
    display: none;
    z-index: 15;
    width: 40px;
    height: 40px;
}


/* Fullpage **/
.page-template-matbangtang #fp-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 10px;
    top: auto;
    align-items: flex-end;

    ul {
        display: flex;
        flex-direction: row;

        li {
            width: auto;
            height: auto;
            margin: 0;
            position: relative;
            display: inline-block;

            a.fp-tooltip {
                font-family: $mainfont;
                opacity: 1;
                position: relative;
                z-index: 1;
                width: auto;
                height: auto;
                cursor: pointer;
                text-decoration: none;
                float: left;
                display: inline-block;
                color: $color1;
                background: $color2;
                opacity: 1;
                padding: 0 40px;
                top: 0;
                line-height: 2.5em;

                &.active,
                &:hover {
                    background: $color1;
                    color: $color2;
                }

                &.active {
                    cursor: default;
                    font-weight: 800;
                }
            }


        }
    }
}

/* Fullpage **/
/* Mat bang **/
.page-template-matbang {
    .entry-title {
        color: #0e3d31;
        line-height: 1.6em;
        display: flex;
        align-self: center;
        justify-content: center;
        width: auto;
    }

    .corner-img {
        position: fixed;
        right: 20px;
        bottom: 50px;

    }
}

/* End Mat bang **/
.single-nha-pho {
    #maincanho .site-main {
        font-weight: 400;
        margin-top: 85px;
        background: #ffffff;
        padding: 1.5em;
        margin-bottom: 100px;
        max-height: calc(100vh - 150px);
        position: relative;
        box-shadow: 0px 0px 30px #001723d9;

        .entry-header {
            .entry-title {
                color: $color2;
                line-height: 1.6em;
                display: flex;
                align-self: center;
                justify-content: center;
                width: auto;

            }

            .border-top {
                border-color: $color2;
            }
        }

        .entry-content > ul {
            border-bottom: 1px dashed #ccc;
            list-style: none;
            padding: 1em 0;

            li:last-child {
                margin-bottom: 1em;
            }
        }

        .botri {
            height: 100%;
            width: 100%;

            .bvcanho {
                width: 100%;
                height: 560px;
                max-height: calc(100vh - 260px);
                background-size: auto 100% !important;
            }
        }


    }


    .wrapper {
        padding: 30px 0;
        z-index: 2;
        position: relative;
    }

    #hidden-content {
        display: flex !important;
        flex-direction: column;

        h1,
        p {
            display: none;
        }

        .d-block {
            height: 260px;
        }
    }

    #hidden-content.fancybox-content,
    #hidden-content.fancybox-content h1,
    #hidden-content.fancybox-content p {
        display: inline-block !important
    }

    #hidden-content.fancybox-content h1 {
        text-align: center;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
    }

    #hidden-content.fancybox-content .d-block {
        height: 60vh;
        width: 70vw !important;
    }


    #nhaslider {

        .carousel-caption {
            color: #222;
            position: relative;

        }

        .carousel-indicators {
            margin-right: 10%;
            margin-left: 10%;
            position: relative;

            li {
                background-color: $color2;
                color: #fff;
                text-indent: 0;
                width: 100%;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-weight: 300;
                position: relative;
                font-size: 14px;


                &.active:after {
                    width: 30px;
                    height: 30px;
                    content: '';
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 10px solid $color2;
                    top: -30px;
                    left: calc(50% - 20px);
                    position: absolute;
                }

            }
        }


    }

    .carousel-caption {
        right: 10%;
        left: 10%;
        bottom: 0;
        color: #888;



    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%;
        top: -200px;
    }

    li.list-inline-item {
        border-right: 1px solid #a7a7a7;
        padding-right: 20px;
        line-height: 30px;

        &:not(.text-2) {
            font-size: 14px;
        }

        &:last-of-type {
            border-right: none;
            padding-right: 0;
        }
    }

    .logo:after {
        content: none;
    }

    .col-md-4 {
        .xemcanho .head {
            font-weight: 400;
            border: 1px solid $color2;
            color: $color1;
            border-radius: 0;
            line-height: 2em;
            padding: 5px 20px;
            margin: 0;
            background-color: $color2;

            &:hover {
                background-color: #26615a;
                border: 1px solid #26615a;
            }
        }

        .head {
            width: auto;
            display: inline-block;
            border-bottom: 2px solid $color2;

        }
    }

}

.page-template-empty .logo:after {
    content: none;
}

.right-footer .d-flex {
    span {
        transition: all .6s ease-in-out;
    }

    p.list-inline-item {
        line-height: 3rem;
        font-size: 11px;
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1441px) {
    .home-section.gioithieu .col-xl-4 {
        max-width: 25%;
    }


    .bg-line-bot {
        height: 265px;

    }


}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {

    /* STYLES GO HERE */
    .matbang #mbfull svg#svgmb,
    .matbang #mbfull #points {
        width: 1400px;
        height: auto;
        left: -50px;
        bottom: 0;

        .blue-diamond {
            left: 580px;
            bottom: 500px;
        }

        .red-diamond {
            left: 710px;
            bottom: 370px;
        }

        .green-diamond {
            right: 420px;
            bottom: 495px;
        }

        .congvien {
            left: 910px;
            bottom: 440px;

            &.khu2 {
                left: 1150px;
                bottom: 400px;
            }
        }
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {

    /* STYLES GO HERE */
    /* STYLES GO HERE */
    /* .matbang #mbfull svg#svgmb,
    .matbang #mbfull #points {
        width: 1500px;
        height: auto;
        left: -50px;
        bottom: 0;

        .blue-diamond {
            left: 620px;
            bottom: 520px;
        }

        .red-diamond {
            left: 760px;
            bottom: 400px;
        }

        .green-diamond {
            right: 440px;
            bottom: 525px;
        }

        .congvien {
            left: 910px;
            bottom: 440px;

            &.khu2 {
                left: 1150px;
                bottom: 400px;
            }
        }
    }*/
}

@media (min-width: 768px) {

    .right-footer {
        text-align: right;
    }

    #go-top {
        bottom: 55px;
    }



}


/** End SVG Wave*/

/*****/
/*
@include media-breakpoint-down(sm) {
 .slide-tienich {
       max-width:100vw;
     width: 100vw;
    }
}
*/

.matbang-custom {

}
.section-face-content {
    background-color: #f6e5bc;
    height: 100%;
    padding: 70px 0;
    position: relative;
    display: flex;
    align-items: center;
    &:before,
    &:after {
        content: '';
        width: 354px;
        height: 393px;
        position: absolute;
    }
    &:before {
        background: url(../images/shape_bg_01.png) no-repeat 0 0;
        left: 0;
        top: 0;
    }
    &:after {
        background: url(../images/shape_bg_02.png) no-repeat right bottom;
        right: 0;
        bottom: 0;
    }
    .face-content-inner {
        width: 100%;
    }
    .wrapper-contennt {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        z-index: 5;
        padding: 40px 20px 0;
    }
    .face-heading {
        display: flex;
        position: relative;
        padding-right: 190px;
    }
    .face-title {
        width: 250px;
    }
    .face-desc {
        flex: 1;
        padding-left: 45px;
        font-size: 15px;
        line-height: 1.6;
        color: #333333;
        padding-top: 35px;
        strong {
            font-weight: bold;
        }
    }
    .face-desc-inner {
        max-width: 540px;
    }
    .button-block {
        position: absolute;
        right: 0;
        top: 35px;
    }
}
.button-block {
    width: 170px;
    img {
        display: block;
        max-width: 100%;
    }
}

@media (min-width: 1150px) and (max-width: 1370px) {
    .matbang-custom .wrapper-contennt {
        max-width: 1000px;
    }
}

@media (min-width: 992px) and (max-width: 1149.99px) {
    .matbang-custom .wrapper-contennt {
        max-width: 830px;
    }
}

@media (min-width: 881px) and (max-width: 991.99px) {
    .matbang-custom .wrapper-contennt {
        max-width: 750px;
    }
}

@media (min-width: 768px) and (max-width: 880.99px) {
    .matbang-custom .wrapper-contennt {
        max-width: 620px;
    }
}

.shophouse-custom {
    position: relative;
    height: 100%;
    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: 9;
    }
    &:before {
        left: 0;
        right: 50%;
        margin-right: 535px;
        background: #0a2318 url(../images/shape_bg_04.png) no-repeat 0 0;
        top: 0;
        bottom: 0;
    }
    &:after {
        width: 735px;
        height: 100%;
        background: url(../images/shape_bg_03.png) no-repeat 100% 100%;
        top: 0;
        left: 50%;
        margin-left: -535px;
    }
    .wrapper-content {
        position: relative;
        z-index: 10;
        max-width: 1280px;
        padding: 0 20px;
        margin: 0 auto;
    }
    .shophouse-text {
        font-size: 15px;
        line-height: 1.6;
        max-width: 335px;
        margin-bottom: 40px;
    }
    .fp-controlArrow {
        top: 50%;
        left: 50%;
        margin-top: -240px;
        border: none;
        z-index: 30;
    }
    .my-arrow.left,
    .my-arrow.right {
        display: none !important;
    }
    .fp-controlArrow {
        width: 40px;
        height: 32px;
        background-color: rgba(255,255,255,.25);
        background-repeat: no-repeat;
        background-position: center center;
        transform: translate(0, 0);
        cursor: pointer;
        &:before {
            display: none;
        }
    }
    .fp-controlArrow.fp-next {
        border-radius: 0 3px 3px 0;
        background-image: url(../images/next_btn_02.png);
        margin-left: -570px;
    }
    .fp-controlArrow.fp-prev {
        border-radius: 3px 0 0 3px;
        background-image: url(../images/prev_btn_02.png);
        margin-left: -614px;
    }
}

@media (min-width: 1150px) and (max-width: 1430px) {
    .shophouse-custom .wrapper-content {
        max-width: 1000px;
    }
}

@media (min-width: 992px) and (max-width: 1149.99px) {
    .shophouse-custom .wrapper-content {
        max-width: 830px;
    }
}

@media (min-width: 881px) and (max-width: 991.99px) {
    .shophouse-custom .wrapper-content {
        max-width: 750px;
    }
}

@media (min-width: 768px) and (max-width: 880.99px) {
    .shophouse-custom .wrapper-content {
        max-width: 620px;
    }
}

.news-custom {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .news-wrapper {
        width: 100%;
    }
    .wrapper-content {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        z-index: 5;
        padding: 0 20px;
    }
    .slick-list {
        width: 525px;
    }
    .news-slider {
        position: relative;
        padding-top: 45px;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }
    &:before {
        width: 52.6%;
        height: 100%;
        background: url(../images/shape_bg_06.png) no-repeat 0 0, url(../images/bg_01.png) repeat-x 0 0/auto 100%;
        left: 0;
    }
    &:after {
        width: 48%;
        height: 100%;
        background: url(../images/shape_bg_07.png) no-repeat right bottom, url(../images/bg_02.jpg) no-repeat 0 0/cover;
        right: 0;
    }
    .news-slider {
        margin-bottom: 0;
    }
    .item-slide {
        padding-right: 20px;
    }
    .slick-slider .slick-slide {
        width: 525px;
        padding-right: 20px;
        height: auto;
        max-height: none;
    }
    .news-title {
        margin-bottom: 35px;
        img {
            max-width: 100%;
            display: block;
        }
    }
    .caption {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 6;
        bottom: 0;
        padding: 20px 30px;
    }
    .news-desc {
        font-size: 15px;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 50px;
    }
    .news-row {
        display: flex;
        align-items: flex-start;
    }
    .column-left {
        width: 435px;
        padding-right: 105px;
    }
    .column-right {
        flex: 1;
        overflow: hidden;
        margin-top: -45px;
    }
    .slick-list {
        overflow: visible;
    }
    .item-news {
        position: relative;
        max-height: 280px;
        &:after {
            content: '';
            background: url(../images/bg_news.png) repeat-x 0 bottom;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        .time {
            font-size: 13px;
            color: rgba(255,255,255,.7);
            margin-bottom: 5px;
        }
        .title {
            font-size: 18px;
            color: #fff;
            margin-bottom: 0;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .slick-slider .slick-arrow {
        width: 45px;
        height: 35px;
        position: absolute;
        background-color: rgba(255,255,255,.35);
        background-repeat: no-repeat;
        background-position: center center;
        top: 0;
        transform: translate(0, 0);
        &:before {
            display: none;
        }
    }
    .slick-slider .slick-next {
        border-radius: 0 3px 3px 0;
        background-image: url(../images/next_btn_02.png);
        right: 0;
    }
    .slick-slider .slick-prev {
        border-radius: 3px 0 0 3px;
        background-image: url(../images/prev_btn_02.png);
        right: 50px;
        left: auto;
    }
}

@media (min-width: 967px) and (max-width: 1400px) {
    .news-custom .news-wrapper {
        padding-left: 80px;
    }
}

@media (min-width: 768px) and (max-width: 965.99px) {
    .news-custom .news-wrapper {
        padding-left: 80px;
    }
}

.section-partners {
    background: url(../images/shape_bg_08.png) no-repeat 0 bottom, url(../images/shape_bg_09.png) no-repeat right bottom, url(../images/bg_03.jpg) no-repeat center center/cover;
    .bongtop {
        &:before {
            display: none;
        }
    }
    .section-partners-inner {
        height: 100%;
        overflow-y: auto;
    }
    .wrapper-content {
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px 20px 0;
    }
    .partners-logo {
        width: 164px;
        margin: 0 auto 30px;
    }
    .partners-title {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 20px;
        text-align: center;
        color: #fff;
    }
    .partners-row {
        margin-bottom: 30px;
    }
    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        list-style: none;
        padding: 0;
        &>li {
            margin: 0 30px 15px;
            list-style: none;
        }
        .partners-photo {
            max-width: 130px;
            margin: 0 auto;
        }
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
        .text {
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
            text-align: center;
            white-space: nowrap;
        }
    }
    .partners-slide {
        margin-bottom: 30px;
    }
    .partners-register {
        margin-bottom: 40px;
    }
    .register-title {
        margin-bottom: 15px;
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    .register-text {
        font-size: 15px;
        text-align: center;
        color: #fff;
    }
    .address-row {
        margin-bottom: 40px;
    }
    .address-title {
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    .address-desc {
        font-size: 14px;
        line-height: 1.78;
        text-align: center;
        color: #fff;
    }
    .copyright {
        border-top: 1px solid rgba(255,255,255,0.5);
        padding: 10px 0;
        font-size: 15px;
        color: rgba(255,255,255,0.5);
        text-align: center;
    }
    .register-form {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .column-01 {
            width: 380px;
            margin: 0 10px 10px;
        }
        .column-02 {
            margin-left: 10px;
        }
        .button-submit {
            width: 169px;
            height: 45px;
            background: url(../images/submit_btn.png) no-repeat 0 0;
            border-radius: 0;
            border: none;
            padding: 0;
            display: block;
            box-shadow: none;
            cursor: pointer;
        }
        .text-input {
            appearance: none;
            -webkit-appearance: none;
            display: block;
            width: 100%;
            height: 45px;
            background: rgba(255,255,255,0.2);
            border-radius: 0;
            border: none;
            box-shadow: none;
            padding: 0 20px;
            color: #fff;
            outline: none;
        }
        .text-input::-webkit-input-placeholder {
            color: rgba(255,255,255,0.5);
            opacity: 1;
        }

        .text-input:-ms-input-placeholder {
            color: rgba(255,255,255,0.5);
            opacity: 1;
        }

        .text-input::placeholder {
            color: rgba(255,255,255,0.5);
            opacity: 1;
        }
    }
    .partners-slider {
        position: relative;
        max-width: 1070px;
        margin: 0 auto;
        padding: 0 50px;
    }
    .partners-slider {
        .item-slide {
            padding: 0 30px;
            width: 190px;
            img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
    .slick-list {
    }
    .slick-slider .slick-slide {
        width: 190px;
        height: auto;
        max-height: auto;
    }
    .slick-slider .slick-arrow {
        position: absolute;
        width: 30px;
        height: 30px;
        background: no-repeat center center;
        z-index: 5;
        cursor: pointer;
        &:before {
            display: none;
        }
    }
    .slick-slider .slick-arrow.slick-prev {
        left: 20px;
        background-image: url(../images/prev_btn_02.png);
    }
    .slick-slider .slick-arrow.slick-next {
        right: 20px;
        background-image: url(../images/next_btn_02.png);
    }
}
.home #wrapper-footer {
    display: none !important
}
@media only screen and (max-width: 900px) {
    .section-face-content .face-title {
        width: 200px;
    }
    .section-face-content .face-desc {
        padding-top: 20px;
        padding-left: 20px;
    }
    .section-face-content .button-block {
        top: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .matbang-custom,
    .matbang-custom .fp-tableCell {
        height: auto !important;
        display: block;
        .bongtop {
            display: none;
        }
    }
    .section-face-content .face-heading {
        display: block;
        padding-right: 0;
        margin-bottom: 40px;
    }
    .section-face-content .face-title {
        margin: 0 0 25px;
    }
    .section-face-content .face-desc {
        padding: 0;
        margin-bottom: 25px;
    }
    .section-face-content .button-block {
        position: static;
        right: auto;
        top: auto;
        margin: 0;
        display: block;
    }
    .section-face-content .face-desc-inner {
        max-width: 100%;
    }
    .section-face-content {
        height: auto;
        display: block;
        padding-left: 65px;
    }
    .section-face-content:before, .section-face-content:after {
        width: 100px;
        height: 200px;
        background-size: contain;
    }
    .section-face-content .face-title {
        width: 250px;
    }
}

@media only screen and (max-width: 1280px) {
    .shophouse-custom .fp-controlArrow.fp-prev {
        left: 0;
        margin-left: 20px;
    }
    .shophouse-custom .fp-controlArrow.fp-next {
        left: 0;
        margin-left: 65px;
    }
}

@media only screen and (max-width: 767px) {
    .shophouse {
        height: auto !important;
        padding: 0 !important;
        &.fp-slide {
            height: 500px !important;
            min-height: 500px !important;
        }
    }
    #fullpage .home-section.shophouse,
    .home-section.shophouse {
        height: auto !important;
        min-height: 500px;
        display: block;
        width: 100%
    }
    .shophouse.fp-section.fp-table,
    .shophouse .shophouse-custom .fp-slide.fp-table,
    .shophouse .shophouse-custom .fp-table .fp-tableCell,
    .shophouse .shophouse-custom .fp-slide .fp-table {
        height: 500px !important;
        min-height: 500px;
        display: block;
    }

    .shophouse-custom .wrapper-content {
        padding-left: 65px;
    }

    .home-section.canho .bgslider {
        position: relative;
        height: 500px;
        left: auto;
        top: auto;
        width: 100%;
        margin-bottom: 40px;
    }
    .shophouse-custom .fp-controlArrow {
        top: auto !important;
        margin-top: 0 !important;
        bottom: 15px;
        left: auto !important;
        background-color: rgba(0, 0, 0, .5);
    }
    .shophouse-custom .fp-controlArrow.fp-prev {
        right: 65px !important;
        margin-left: 0;
    }
    .shophouse-custom .fp-controlArrow.fp-next {
        right: 20px !important;
        margin-left: 0;
    }
    .shophouse-custom {
        height: auto;
        padding-bottom: 70px;
    }
    .home-section.canho .box-canho {
        height: auto !important;
    }
    .shophouse-custom:after,
    .shophouse-custom:before {
        display: none;
    }
    .home-section.canho .box-canho {
        padding: 0 !important;
        width: 100% !important;
    }
    .home-section.canho  .imgtext {
        width: 250px;
        margin: 0 0 15px !important;
        padding: 0;
    }
    .shophouse-custom .shophouse-text {
        max-width: 100%;
    }
    .shophouse-custom .button-block {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 966px) {
    .news-custom .slick-slider .slick-slide {
        width: auto;
        padding-right: 0;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .news-custom .slick-list {
        width: auto
    }
    .news-custom .slick-list {
        overflow: hidden;
    }
}
@media only screen and (max-width: 767px) {
    .news-custom .bongtop {
        display: none;
    }
    .news-custom:before, .news-custom:after {
        display: none;
    }
    .news-custom .news-row {
        display: block;
    }
    .news-custom .column-left {
        width: 100%;
        background: url(../images/shape_bg_06.png) no-repeat 0 0/100px auto, url(../images/bg_01.png) repeat-x 0 0/auto 100%;
        padding: 50px 20px 50px 65px;
    }
    .news-custom .column-right {
        width: 100%;
        margin-top: 0;
        background: url(../images/shape_bg_07.png) no-repeat right bottom/150px auto, url(../images/bg_02.jpg) no-repeat 0 0/cover;
        padding: 50px 20px;
    }
    .news-custom .wrapper-content {
        padding: 0;
    }
    .news-custom .caption {
        padding: 10px 20px;
    }
    .news-custom .item-news {
        height: 200px;
    }
    .news-custom .item-news .title {
        font-size: 14px;
    }

    .secbay .sb_pagination {
        top: 40px;
        transform: none;
    }
}

@media only screen and (max-width: 1340px) {
    .section-partners {
        background: url(../images/shape_bg_08.png) no-repeat 0 bottom/100px auto, url(../images/shape_bg_09.png) no-repeat right bottom/100px auto, url(../images/bg_03.jpg) no-repeat center center/cover;
    }
}
@media only screen and (max-width: 767px) {
    .section-partners {
        padding-bottom: 50px;
        background: url(../images/shape_bg_08.png) no-repeat 0 bottom/80px auto, url(../images/shape_bg_09.png) no-repeat right bottom/80px auto, url(../images/bg_03.jpg) no-repeat center center/cover;
        .bongtop {
            display: none;
        }
    }
    .section-partners .section-partners-inner {
        height: auto;
        overflow: visible;
    }
    .section-partners .partners-list {
        display: block;
    }
    .section-partners .partners-list > li {
        width: 100%;
        padding: 0 0 20px;
        margin: 0;
    }
    .section-partners .partners-slider .item-slide {
        padding: 0 15px;
    }
    .section-partners .partners-slider {
        padding: 0 40px;
    }
    .section-partners .slick-slider .slick-arrow.slick-prev {
        left: 0;
    }
    .section-partners .slick-slider .slick-arrow.slick-next {
        right: 0;
    }
    .section-partners .register-form {
        display: block;
    }
    .section-partners .register-form .column-01 {
        width: 100%;
        margin: 0 0 15px;
    }
    .section-partners .register-form .column-02 {
        margin: 0 auto;
        width: 169px;
    }
    .section-partners .address-desc {
        font-size: 13px;
    }
    .section-partners .copyright {
        font-size: 13px;
    }
}

.control-bar {
    position: fixed;
    right: 0;
    bottom: 90px;
    width: 45px;
    z-index: 50;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        margin: 0 0 2px 0;
    }
    a {
        display: block;
        background: #0a3e27;
        @media (min-width: 768px) {
            &:hover {
                background: rgb(217,185,97);
                background: linear-gradient(328deg, rgba(217,185,97,1) 0%, rgba(193,151,67,1) 26%, rgba(181,136,53,1) 50%, rgba(193,151,67,1) 74%, rgba(217,185,97,1) 100%);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .control-bar {
        bottom: 0;
        width: 100%;
        height: 50px;
        box-shadow: 0 -1px 4px rgba(0,0,0,.2);
        .control-list {
            display: flex;
        }
        li {
            width: 25%;
            margin: 0;
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
.jumbo-by-bonfire-wrapper {
    &.jumbo-menu-active {
        visibility: hidden;
    }
}